In [1]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.datasets import make_blobs
from sklearn.naive_bayes import GaussianNB

In [2]:
ds = pd.read_csv("car.csv")

In [3]:
ds.head()

    Color    Type    Origin Stolen?
0     Red  Sports  Domestic     Yes
1     Red  Sports  Domestic      No
2     Red  Sports  Domestic     Yes
3  Yellow  Sports  Domestic      No
4  Yellow  Sports  Imported     Yes

In [4]:
le = LabelEncoder()
ds['Color'] = le.fit_transform(ds['Color'])
ds['Type'] = le.fit_transform(ds['Type'])
ds['Origin'] = le.fit_transform(ds['Origin'])
ds['Stolen?'] = le.fit_transform(ds['Stolen?'])

In [5]:
ds.head()

   Color  Type  Origin  Stolen?
0      0     1       0        1
1      0     1       0        0
2      0     1       0        1
3      1     1       0        0
4      1     1       1        1

In [6]:
ds.describe()

           Color       Type     Origin    Stolen?
count  10.000000  10.000000  10.000000  10.000000
mean    0.500000   0.600000   0.500000   0.500000
std     0.527046   0.516398   0.527046   0.527046
min     0.000000   0.000000   0.000000   0.000000
25%     0.000000   0.000000   0.000000   0.000000
50%     0.500000   1.000000   0.500000   0.500000
75%     1.000000   1.000000   1.000000   1.000000
max     1.000000   1.000000   1.000000   1.000000

In [7]:
x=ds.iloc[:,:-1].values
y=ds.iloc[:, -1].values

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state = 0)

In [9]:
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB()

In [10]:
pred = model.predict(x_test)
accur = accuracy_score(y_test, pred)

In [11]:
accur

0.25

In [12]:
z=[[0,1,0]]

In [13]:
model.predict(z)

array([0])